[messages control]
disable=too-many-instance-attributes,
        too-few-public-methods,
        too-many-arguments,
        missing-docstring,
        invalid-name,
        no-member,
        fixme,
